.navText{
    font-size: 20px;
    padding: 5px 10px 5px 10px ;
    transition: all linear 0.3s;
}
.navText:hover{
    background: #fff;
    color: #000;
}

.navBarSticky {
    position: sticky;
    top: 0;
    background-color: #141a2f;
}